@mixin button {
  position: relative;
  text-decoration: none;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: $white;
  background-color: $dark-black;
  padding: 22px 78px 22px 34px;
  border-radius: 18px;
  text-transform: capitalize;

  &::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 30px;
    max-height: 40px;
    height: 100%;
    display: inline-block;
    background-image: url("./../../images/button-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

}