.blogs{
  margin-bottom: 100px;

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container-heading{
    max-width: 580px;
    width: 100%;
    margin-bottom: 70px;
  }

  &__heading-title{
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;
    color: $dark-black;
    margin-bottom: 21px;
  }

  &__heading-text{
    font-family: 'Jost';
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.22px;
    color: $dark-grey;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item{
    max-width: 386px;
    margin: 0 auto;
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 62px;
    padding: 21px;
    margin-bottom: 40px;
  }


  &__item-box{
    margin-bottom: 25px;
  }

  &__item-box-img{
    max-width: 345px;
    width: 100%;
    border-radius: 45px 45px 0 0;
  }

  &__item-subtitle{
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: $dark-black;
    margin-bottom: 20px;
    text-transform: capitalize;
  }

  &__item-more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__item-date{
    font-family: 'Jost';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.22px;
    color: $dark-grey;
  }


}
.next-button-blogs{
  width: 52px;
  height: 52px;
}
