.header{
  background-color: $white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  &__container{
    display: flex;
    padding: 26px 0 30px;
    justify-content: space-between;
    align-items: center;
  }

  &__container-link{
    text-decoration: none;
  }


  &__container-img{
    object-fit: cover;
    max-width: 177px;
    width: 100%;
    height: 50px;
  }


  &__nav-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
  }

  &__nav-item{
    margin: 0 auto;
  }

  &__item-link{
    text-decoration: none;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: $dark-black;
    text-transform: capitalize;
  }
  &__item-link--active{
    color: $dark-orange;
  }

  &__item-link:hover{
    color: $dark-orange;
  }

  &__item-link:active{
    color: $dark-orange-active;
  }

}