.hero{
  background-image: url("./../../images/hero-section-img-bg-index.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 195px 0 250px;
  margin-bottom: 100px;
  border-radius: 0 0 0 290px;
  margin-top: 106px;

  &__wrapper{
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__wrapper-title{
    font-weight: 400;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.22px;
    color: $dark-black;
    margin-bottom: 19px;
  }

  &__wrapper-text{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.22px;
    color: $dark-grey;
    margin-bottom: 35px;
  }


}

.button{
  @include button;
}
